#root {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top:30%;
}

button a {
  text-decoration: none;
}

a{
  color :#000 !important;
}
button.active  a {
  color : #fff !important;
}
